body{
  margin:0;
  padding:0;

}

#jewels{
  overflow: hidden;
  position: relative;
  width: 312px;
  height: 364px;
  background: #F1F8F6;
}

#scores{
  width:312px;
  height: 52px;
  background-color: pink;
  position: relative;
  color:white;
}

.scores{
  position: absolute;
  width: 110px;
  height: 100%;
  text-align:center;
  font-size:  35px;
  line-height: 52px
}

#myScore{
  top: 0px;
  left: 0px;
  background-color: blue;
}

#opponentScore{
  top: 0px;
  left: 110px;
  background-color: red;
}

.block{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  margin:1px;
  position: absolute;
  color: white;
}

