body{
  margin:0;
  padding:0;

}

#jewels{
  overflow: hidden;
  position: relative;
  width: 312px;
  height: 418px;
  border: 1px solid black;
  background: #F1F8F6;
}

.block{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  margin:1px;
  position: absolute;
  color: white;
}

